<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>{{ page.title }}</title>

  <!-- Stylesheets -->
  <link rel="stylesheet" href="/assets/css/style.css" />
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css" />

  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ page.title }} | {{ site.title }}</title>

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
    <link rel="stylesheet" href="{{ '/assets/css/style.css' | relative_url }}">
  </head>
</head>

<body>
  <nav class="navbar">
    <div class="logo">denizbt</div>
    <div class="nav-links">
      <a href="#about" class="nav-button">About</a>
      <a href="#projects" class="nav-button">Projects</a>
      <a href="#research" class="nav-button">Research</a>
      <a href="/assets/files/denizbt-resume.pdf" class="resume-button">Resumé</a>
    </div>
  </nav>

  {{ content }}

</body>

<footer class="site-footer">
  <div class="footer-content">
    <p>&copy; {{ site.time | date: "%Y" }} Deniz Bölöni-Turgut. All rights reserved.</p>
    <!-- <div class="footer-icons">
      <a href="mailto:db823@cornell.edu" class="icon-button"><i class="fas fa-envelope"></i></a>
      <a href="https://linkedin.com/in/deniz-bt" class="icon-button"><i class="fab fa-linkedin"></i></a>
      <a href="https://github.com/denizbt" class="icon-button"><i class="fab fa-github"></i></a>
    </div> -->
  </div>
</footer>

</html>